body {
	background-color: #fafafa;
}

h1 {
	font-family: "SignPainter";
	color: #660000;
	font-size: 3rem;
	text-align: center;
	width: 100%;
	margin-bottom: 0.5em;
}

.container {
	margin: 2em auto;
	width: 800px;
}

canvas {
	display: block;
	width: 800px;
	height: 600px;
	background-color: #fff;
	border: 1px solid #666;
}

button {
	width: 40px;
	text-align: center;
	background-color: #dedede;
	border: 1px solid #666;
	margin: 0.5em;
	height: 22px;
	line-height: 20px;
}

.nav button {
	display: inline-block;
}

.nav button:last-child {
	margin-right: 0;
}

.nav {
	text-align: right;
	width: 100%;
}